body {
    background-color: #B0B6BA;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

h1 {
    color: #313B2F;
    font-size: 3em;
    text-shadow: #6A736F 0 0 1px;
    
    margin: 2rem;
}

.title {
    font-size: 2em;
    margin-bottom: 2rem;
}

.options {
    margin: 2rem 0 1rem;
    font-size: 1.5em;
}
.div-places {
    width: 10rem;
    margin: 0 auto;
}

#result {
    font-size: 2em;
}